
/*** Global default style ***/
* {
    /* Prevent text selection */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;

    /* Default font */
              font-family: 'Oswald', sans-serif;
}

.truncate {
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

.widget {
    font-family:    'Oswald', sans-serif;
    font-size:      3vh;
    font-weight:    200;
    font-style:     normal;

    height:         100%;
    width:          100%;

    background:     #eee;

    border-radius:  1vh;
    overflow:       hidden;

    align-content:  center;
    align-items:    center;
    text-align:     center;

    aspect-ratio:   1/1;

    position:       relative; /* allows absolute positioning of children */

    z-index:        0;
}

.widget.graph {
    aspect-ratio:   auto;

    max-height:     100%;
    max-width:      100%;
}

.widget-header {
    position:       absolute;
    top:            0%;
    width:          100%;

    z-index:        1;
}

.widget-footer {
    position:       absolute;
    bottom:         0%;
    width:          100%;

    padding-left:   1vh;
    padding-right:  1vh;

    z-index:        1;
}

.widget-value {
    font-family:    'Oswald', sans-serif;
    font-size:      8vh;
    font-weight:    400;
    font-style:     normal;

    position:       absolute;
    top:            50%;
    left:           50%;
    transform:      translate(-50%, -52%);

    background:     none;
}

.widget-image {
    width:          70%;
    object-fit:     fill;
    margin-top:     5%;

    /*    filter: url(#imageToBlackAndWhite) brightness(1.5) contrast(0.5); */

    z-index:        -1;
}

.widget-canvas {
    width:          100%;
    height:         100%;
    margin:         auto;
    background:     none;

    margin-top:     auto;
    margin-bottom:  auto;

    z-index:        -1;
}





.hidden {
    visibility: hidden;
}
