
:root {
    --screen-max-width: 640px;
    --screen-min-width: 320px;
        --screen-w: 800px;
        --screen-h: 480px;
}


/*** Global default style ***/
* {
    /* Prevent text selection */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;

    /* Default font */
              font-family: 'Oswald', sans-serif;

        box-sizing: border-box;
        margin: 0;
        padding: 0;

}

.truncate {
    white-space:   nowrap;
    overflow:      hidden;
    text-overflow: ellipsis;
}

.widget {
    font-family:    'Oswald', sans-serif;
    font-size:      3vh;
    font-weight:    200;
    font-style:     normal;

    height:         100%;
    width:          100%;

    background:     #eee;

    border-radius:  1vh;
    overflow:       hidden;

    align-content:  center;
    align-items:    center;
    text-align:     center;

    aspect-ratio:   1/1;

    position:       relative; /* allows absolute positioning of children */

    z-index:        0;
}

.widget.graph {
    aspect-ratio:   auto;

    max-height:     100%;
    max-width:      100%;
}

.widget-header {
    position:       absolute;
    top:            0%;
    width:          100%;

    z-index:        1;
}

.widget-footer {
    position:       absolute;
    bottom:         0%;
    width:          100%;

    padding-left:   1vh;
    padding-right:  1vh;

    z-index:        1;
}

.widget-value {
    font-family:    'Oswald', sans-serif;
    font-size:      8vh;
    font-weight:    400;
    font-style:     normal;

    position:       absolute;
    top:            50%;
    left:           50%;
    transform:      translate(-50%, -52%);

    background:     none;
}

.widget-image {
    width:          70%;
    object-fit:     fill;
    margin-top:     5%;

    /*    filter: url(#imageToBlackAndWhite) brightness(1.5) contrast(0.5); */

    z-index:        -1;
}

.widget-canvas {
    width:          100%;
    height:         100%;
    margin:         auto;
    background:     none;

    margin-top:     auto;
    margin-bottom:  auto;

    z-index:        -1;
}

/* ELEMENTS */
.screen {
    /* Screen size */
/*
    width:              calc(100vw - 10px);
    max-width:          var(--screen-max-width);
    min-width:          var(--screen-min-width);

    margin-left:        auto;
    margin-right:       auto;
*/
    background-color:   #B0DDFF; /* #92D2F2, #B0DDFF*/
}


/* FEATURES */
.hidden {
    visibility:         hidden;
}

.flex {
}

.flex--col {
    display:            flex;
    flex-direction:     column;
    align-items:        center
}

.flex--row {
    display:            flex;
    flex-direction:     row;
    align-items:        center;
    justify-content:    center
}

.gap--xsmall {
    gap:                5px;
}


/* flex--col */
.flex--col.flex--stretch-x > * {
    flex:       initial;
    align-self: stretch;
}
.flex--col.flex--stretch-x {
    align-items: stretch
}
.flex--col.flex--stretch-y > * {
    flex: 1 1 0%
}


/* flex--row */
.flex--stretch-x2 > * {
    flex: 1 1 0%;
}
    .trmnl .flex--row.flex--stretch-x>* {
        flex: 1 1 0%
    }
    .trmnl .flex--row.flex--stretch-y {
        align-items: stretch;
        justify-content: center
    }

    .trmnl .flex--row.flex--stretch,.trmnl .flex--col.flex--stretch {
        align-items: stretch
    }

    .trmnl .flex--row.flex--stretch>*,.trmnl .flex--col.flex--stretch>* {
        flex: 1 1 0%
    }






/* ??? Flex stretch ??? */

/*
flex--top
flex--bottom
flex--right
flex--left
*/
